.row{
    border: black solid 1px;
}

body{
    background: url("../images/backgroundHang.png") center fixed;
}

.container{
    background: whitesmoke;
}

.gameTitle{
    font: clarendon condensed; 


}

.themeTitle{
    
}

.toBeHungCont{
    
}
#TBHImg{
    margin: 2%;
    width: 70%;
    
}
.gameStart{
    text-align: center;
}
.winsCont{
    
}
.lossesCont{
    
}

#unknownWord{
    
    
}

.numGuessesCont{
    
}
.lettersGuessedCont{
    
}
.userInputCont{
    
}

